<section class = "HomePage">
  <h1 class = "PageTitle-Home"> Welcome to The Cafe..!!</h1>

  <p class = "Home"> Glad to have you new user, <%=link_to "Sign-Up here", new_user_path %> </p>

  <p class = "Home"> Welcome back our existing user, <%=link_to "Sign-In here", new_sessions_path %> </p>
</section>
