body {
  font-family: sans-serif;
  color: #5c4033;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  background-color: #fcf7f3;
}

.CurrentUserBar {
  display: flex;
  align-items: center;
}

.Buttons {
  display: flex;
  align-items: stretch;
  position: absolute;
  right: 10px;
  width: fit-content;
  padding: 10px;
}

.MyOrders-Button,
.PendingOrder-Button,
.Home-Button,
.Signout-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 14px;
}

.MyOrders-Button,
.PendingOrder-Button,
.Home-Button {
  margin-right: 6px;
}

.CafeMainPage {
  width: fit-content;
  margin: 80px auto;
  display: flex;
  align-items: stretch;
}

.CafePageTitle {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.6;
  width: fit-content;
  margin: 0 auto;
  font-family: cursive;
  color: #4b3331;
}

.ActiveMenuSection,
.AddMenuSection {
  margin-right: 125px;
}

.ActiveMenu-Dropdown {
  margin-top: 6px;
  margin-bottom: 20px;
  margin-left: 75px;
  height: 24px;
  width: 150px;
}

.AddMenu {
  display: flex;
  align-items: stretch;
  height: 36px;
  margin-bottom: 40px;
}

.ActiveMenu-Title,
.AddMenu-Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 14px;
  padding-left: 6px;
  color: #5f3e3b;
}

.AddMenu-Name {
  padding: 6px 12px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #5f3e3b;
  border-radius: 4px;
  border-style: solid;
  width: 250px;
  background-color: #fcf7f3;
  color: #5f3e3b;
  font-size: 14px;
}

.AddMenu-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 14px;
  width: 72px;
}

.MenuSection-Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 16px;
  color: #5f3e3b;
  margin-left: 4px;
}

.MenuSection-Items {
  font-size: 17px;
  text-align: left;
  width: 360px;
  margin-left: 10px;
}

.MenuTable-Head {
  font-weight: bold;
  height: 30px;
  border-bottom: 1px solid #5f3e3b;
  vertical-align: bottom;
  padding-bottom: 6px;
}

.Menu-Id {
  height: 35px;
  vertical-align: middle;
  width: 20%;
  padding-left: 6px;
}

.Menu-Name {
  height: 35px;
  vertical-align: middle;
  width: 60%;
  padding-left: 6px;
}

.Menu-Link {
  height: 35px;
  vertical-align: middle;
  width: 60%;
  padding-left: 6px;
  font-size: 16px;
}

a:link,
a:visited {
  color: #5c4033;
}

.CartSection-Title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 14px;
  padding-left: 6px;
  color: #5f3e3b;
}

.CartItems {
  font-size: 17px;
  text-align: left;
  width: 300px;
}

.Item-Quantity {
  height: 35px;
  vertical-align: middle;
  width: 20%;
}

.CartItem-deletebox {
  width: 16px;
  height: 20px;
  display: flex;
  align-items: center;
}

.CartTotalPrice {
  display: flex;
  align-items: baseline;
  margin-top: 30px;
  margin-bottom: 6px;
}

.CartTotalPrice-Head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5f3e3b;
}

.CartTotalPrice-Price {
  margin-left: 6px;
  font-size: 16px;
}

.PlaceOrder-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 14px;
  margin-left: 100px;
}
