body {
  font-family: sans-serif;
  font-size: 14px;
  color: #5c4033;
  margin: 0 auto;
  padding: 15px;
  background-color: #fcf7f3;
}

.CurrentUserBar {
  display: flex;
  align-items: center;
}

.Buttons {
  display: flex;
  align-items: stretch;
  position: absolute;
  right: 6px;
  width: fit-content;
  padding: 6px;
}

.MyOrders-Button,
.PendingOrder-Button,
.Home-Button,
.Signout-Button,
.Users-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 10px;
}

.MyOrders-Button,
.PendingOrder-Button,
.Home-Button,
.Users-Button {
  margin-right: 4px;
}

.CafeMainPage {
  width: fit-content;
  margin: 60px auto;
  display: flex;
  align-items: stretch;
}

.CafePageTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.6;
  width: fit-content;
  margin: 0 auto;
  font-family: cursive;
  color: #4b3331;
}

.ActiveMenuSection {
  margin-right: 80px;
}
.AddMenuSection {
  margin-right: 100px;
}

.ActiveMenu-Dropdown {
  margin-top: 4px;
  margin-bottom: 18px;
  margin-left: 65px;
  height: 18px;
  width: 130px;
  font-size: 12px;
}

.AddMenu {
  display: flex;
  align-items: stretch;
  height: 28px;
  margin-bottom: 30px;
}

.ActiveMenu-Title,
.AddMenu-Title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 14px;
  padding-left: 6px;
  color: #5f3e3b;
}

.AddMenu-Name {
  padding: 4px 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #5f3e3b;
  border-radius: 4px;
  border-style: solid;
  width: 200px;
  background-color: #fcf7f3;
  color: #5f3e3b;
  font-size: 12px;
}

.AddMenu-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 12px;
  width: 60px;
}

.MenuSection-Title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 6px;
  color: #5f3e3b;
  margin-left: 4px;
}

.MenuSection-Items {
  font-size: 14px;
  text-align: left;
  width: 300px;
  margin-left: 10px;
}

.MenuTable-Head {
  font-weight: bold;
  height: 25px;
  border-bottom: 1px solid #5f3e3b;
  vertical-align: bottom;
  padding-bottom: 2px;
}

.Menu-Id {
  height: 25px;
  vertical-align: middle;
  width: 20%;
  padding-left: 6px;
}

.Menu-Name {
  height: 25px;
  vertical-align: middle;
  width: 60%;
  padding-left: 6px;
}

.Menu-Link {
  height: 25px;
  vertical-align: middle;
  width: 60%;
  padding-left: 6px;
  font-size: 13px;
}

a:link,
a:visited {
  color: #5c4033;
}

.CartSection-Title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 14px;
  color: #5f3e3b;
}

.CartItems {
  font-size: 14px;
  text-align: left;
  width: 270px;
}

.Item-Name {
  height: 25px;
  vertical-align: middle;
  width: 50%;
}

.Item-Quantity {
  height: 25px;
  vertical-align: middle;
  width: 20%;
  padding-left: 4px;
}

.Item-Price {
  height: 25px;
  vertical-align: middle;
  width: 20%;
}

.CartItem-deletebox {
  width: 14px;
  height: 18px;
  display: flex;
  align-items: center;
}

.CartTotalPrice {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
  margin-bottom: 6px;
}

.CartTotalPrice-Head {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5f3e3b;
}

.CartTotalPrice-Price {
  margin-left: 6px;
  font-size: 15px;
}

.PlaceOrder-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 12px;
  margin-left: 100px;
}
