.HomePage {
  width: fit-content;
  margin: 0 auto;
  margin-top: 60px;
}

.PageTitle-Home {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 40px;
  padding-left: 10px;
  color: #5f3e3b;
}

.Home {
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 1.2;
}

.ErrorMessage,
.ErrorMessage-Main {
  margin-bottom: 10px;
  margin-left: 6px;
  line-height: 1.2;
  font-size: 13px;
  color: red;
}

.ErrorMessage-Main {
  margin-left: 30px;
  font-size: 14px;
  margin-bottom: 10px;
}
