.MenuItemPage {
  width: fit-content;
  margin: 40px auto;
}

.MenuItemPage-Main {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}

.AlterMenuItemSection {
  margin-left: 110px;
}

.MenuItemPage-Head {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.MenuItemPage-Title,
.MenuItemDetails-Title,
.AlterMenuItemSection-Title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #5f3e3b;
  margin-bottom: 18px;
}

.MenuItemPage-Name {
  font-size: 20px;
  margin-left: 6px;
}

.MenuItemDetails-Tag {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 8px;
  color: #5f3e3b;
}

.MenuItemDetails-Item {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.MenuItemDetails-Buttons {
  display: flex;
  align-items: stretch;
  width: fit-content;
  margin: 20px auto;
  margin-bottom: 10px;
}

.MenuItemDetails-Data {
  margin-left: 6px;
  font-size: 14px;
}

.CartAdd-Dropdown {
  background-color: #5f3e3b;
  border-radius: 4px;
  border: 1px solid #5f3e3b;
  color: #fcf7f3;
  font-size: 12px;
  margin-right: 10px;
  width: 50px;
}

.CartAdd-Dropdown option {
  background-color: #5f3e3b;
}

.CartAdd-Dropdown option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.AddToCart-Button,
.RemoveFromCart-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 12px;
}

.AlterMenuItem-Item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.AlterMenuItem-Tag {
  font-size: 16px;
  font-weight: bold;
  margin-left: 6px;
  margin-bottom: 10px;
  color: #5f3e3b;
}

.AlterMenuItem-field {
  padding: 6px 12px;
  border: 1px solid #5f3e3b;
  border-radius: 4px;
  border-style: solid;
  width: 200px;
  background-color: #fcf7f3;
  color: #5f3e3b;
  font-size: 12px;
  margin-left: 15px;
}

.AlterMenuItem-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 12px;
  width: 60px;
  margin-left: 10px;
}

.DeleteMenuItem-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 13px;
  width: 72px;
  margin-left: 120px;
}
