.OrderPage,
.MyOrderPage,
.UserOrderPage {
  width: fit-content;
  margin: 40px auto;
}

.OrderPage-Title,
.MyOrderPage-Title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  color: #5f3e3b;
  margin-bottom: 16px;
}

.OrderItems-Head,
.UserOrderPage-UserTitle,
.UserOrderPage-DeliveredTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  color: #5f3e3b;
  margin-bottom: 10px;
}

.OrderItems-Head {
  margin-bottom: 0px;
}

.Orderpage-Content {
  width: 500px;
}

.Orderpage-ContentText {
  font-size: 17px;
  margin-left: 100px;
}

.Orders {
  font-size: 14px;
  text-align: left;
  width: 700px;
}

.OrderItems {
  font-size: 14px;
  text-align: left;
  width: 300px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.Order-Head {
  font-weight: bold;
  height: 25px;
  border-bottom: 1px solid #5f3e3b;
  vertical-align: bottom;
  padding-bottom: 6px;
}

.Order-Id {
  height: 24px;
  vertical-align: middle;
  width: 15%;
  padding-left: 6px;
}

.User {
  height: 24px;
  vertical-align: middle;
  width: 30%;
  padding-left: 6px;
}

.Order-Timestamp {
  height: 24px;
  vertical-align: middle;
  width: 35%;
  padding-left: 6px;
}

.OrderTotalPrice {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  margin-left: 6px;
}

.OrderTotalPrice-Head {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5f3e3b;
}

.OrderTotalPrice-Price {
  margin-left: 6px;
  font-size: 14px;
}

.Order-DeliveryStatus {
  height: 24px;
  vertical-align: middle;
  width: 20%;
  padding-left: 6px;
}

.Order-View,
.Order-Deliver {
  width: 10%;
}

.OrderView-link {
  height: 24px;
  vertical-align: middle;
  margin-left: 20px;
}

.DeliverOrder {
  width: fit-content;
  margin: 20px auto;
}

.DeliverOrder-Button {
  background-color: #5f3e3b;
  border-radius: 4px;
  border-color: transparent;
  color: #fcf7f3;
  font-size: 14px;
  width: 100px;
  height: 25px;
}

.UserOrderPage-Head {
  display: flex;
  align-items: baseline;
}

.UserOrderPage-UserName {
  font-size: 18px;
  margin-left: 10px;
}

.UserOrderPage-DeliveredStatus {
  width: fit-content;
  margin: 0 auto;
}
